@mixin heroBG {
  background: linear-gradient(to right, #ebe6fa, #dce5f9);
}

@mixin btnClr {
  background: linear-gradient(to right, #fb275b, rgb(255 166 27 / 82%));
}

@mixin eliteAuthorBadge {
  background: linear-gradient(
    to top,
    rgb(243 136 68 / 13%),
    rgba(243, 135, 68, 0.23)
  );
}

@mixin sliderSectionBG {
  background: linear-gradient(to left, #fbf8f8, rgb(251 248 248 / 0%));
}

@mixin line {
  background: linear-gradient(to right, #7391d4, #7391d400);
}

@mixin BgWhiteDim {
  background: radial-gradient(farthest-corner, #fff 20%, transparent 70%);
}

@mixin BgWhiteMoreDim {
  background: radial-gradient(farthest-corner, #ffffff24 20%, transparent 70%);
}
