@use "../custom" as *;

.display-1 {
  font-family: $font-family-code;

  &--intro {
    display: inline-block;
    font-size: 4rem;
    font-weight: $font-weight-bold;
    padding-bottom: 0.5rem;
  }

  &--description {
    display: block;
    font-size: 3.5rem;
    font-weight: $font-weight-normal;
  }
}

.display-4 {
  line-height: 2.125rem;
  font-family: $font-family-code;
  &--title {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 900;
  }
  &--description {
    display: block;
    font-size: 1.25rem;
    font-weight: $font-weight-medium;
  }
}

.display-5 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 4.125rem;
  font-family: $font-family-code;
  margin-bottom: 1.125rem;
}

.display-6 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.75rem;
  font-family: $font-family-code;
  margin-bottom: 1.125rem;
}

.list-group-flush {
  .list-group-item {
    position: relative;
    border: none;
    background-color: transparent;

    &::before {
      position: absolute;
      content: "";
      width: 0.3125rem;
      height: 0.3125rem;
      border-radius: 100%;
      background-color: $grayDark;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .list-group-item-action {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        background: transparent;
      }
    }
  }
}
