@use "../custom" as *;

.display-1 {
  font-family: $font-family-code;
  
  &--intro{
      display: inline-block;
      font-size: 4rem;
      font-weight: $font-weight-bold;
      padding-bottom: 0.5rem;
  }
  
  &--description {
    display: block;
    font-size: 3.5rem;
    font-weight: $font-weight-normal;
  }
}
