@use "../custom" as *;
@use "../components/mixins" as *;

.marketPlace {
  @include sliderSectionBG;
  padding: 7rem 0 0;

  .marketBrand {
    .imgContain {
      @include media-breakpoint-down(xl) {
        margin: 1rem 0;
      }

      img {
        @include media-breakpoint-down(sm) {
          width: 60%;
        }
      }
    }
  }
}
